node_modules/
dist/
.env
.env.local
.DS_Store
*.log
*.sql
!0*.sql
vite.config.js.timestamp-*
_model_inspect/
.vercel
antigravity-skills/

testsprite_tests\tmp\config.json
superadmin-dashboard-worktree/
testsprite_tests/tmp/
testsprite_tests/tmp/config.json

!supabase/seed.sql

